
<form action="/answer"  data-turbo="false">
  <label for="answer">Ask your coach anything!</label>
  <div class="user-ask d-flex">
    <input class="form-control" type="text" name="answer">
    <input class="btn btn-primary " type="submit" value="Ask!" for="answer">
  </div>
</form>
