/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a, h1, form {
  margin-left: 35px;
  text-decoration: none;

}

a {
  color: rgb(11, 88, 202, .75);
}

h1 {
  margin-top: 40px;
}

 ul li {
  list-style: none;
  padding-top: 15px;
  padding-left: 5px;
  border-left: 5px solid rgba(128, 128, 128, 0.5);
  margin-top: 10px;
  margin-right: 25px;
  padding-bottom: 5px;

 }

 li a {
  text-decoration: none;
 }

 #answer {
  background-color: #FFFFE1;
 }

 .form-control{
  width: 450px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none;
 }

 form label {
  margin-bottom: 10px;

 }

 .btn{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
 }

 p {
  font-style: italic;
  font-weight: 50;
 }

 .said {
  font-style: normal;
  font-weight: bold;
 }
